#menu_desktop{
   display: none !important;
}

#menu_mobile{
   display: block !important;
}

#noticia{
   display: none !important;
}


body {
	background-color: #f5f6f7;
	font-family: 'Open Sans', sans-serif;
	font-size:80%;
	color:#666666;
	font-weight:400;
	/*text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;*/
}


.termo_adesao {
position: absolute;
width:80%;
height: 500px;
background:#FFF;  
z-index: 999;
top: 20px; 
left: 50%;
margin-left: -40%;
border: 1px solid #ccc;
	overflow: hidden
	
}

.faq {
	
	width:100%; 
	display: inline-block; 
	text-align: center; 
	overflow-y:scroll; 
	height: 360px ; 
	border-style:solid; 
	border-width:1px; 
	border-color:#CCCCCC; 
	background-color:#FFFFFF	
	
}

strong {font-weight:600}
b {font-weight:600}

a:link {color: #113b63;}
a:visited {color:#113b63;}
a:hover {color: #a61d00;}
a:active {color: #113b63;}


.menu {
	font-family:'Varela Round', sans-serif;
	border: #113b63 1px solid; 
	margin-bottom:3px; 
	text-align:center; 
	padding:5px;
	display:block;

}

.menu:link {color: #113b63; text-decoration:none}
.menu:visited {color:#113b63; text-decoration:none}
.menu:hover {color:#fff; text-decoration:none; background-color:#a61d00; border: #a61d00 1px solid}
.menu:active {color:#fff; text-decoration:none; background-color:#a61d00; border: #a61d00 1px solid}


.menu-login {
	font-family:'Varela Round', sans-serif;
	border: #113b63 1px solid; 
	text-align:center; 
	padding:3px 10px 3px 10px;
	color:#FFFFFF;
	background-color: #113b63;
	font-size:1em;
	-o-border-radius:6px;/* Explorer */
	-moz-border-radius: 6px; /* Firefox */
    -webkit-border-radius: 6px; /* Safari, Chrome */
    border-radius: 6px; /* CSS3 */
}

.menu-login:link {color:#fff; text-decoration:none}
.menu-login:visited {color:#fff; text-decoration:none}
.menu-login:hover {color:#fff; text-decoration:none; background-color:#a61d00; border: #a61d00 1px solid}
.menu-login:active {color:#fff; text-decoration:none; background-color:#a61d00; border: #a61d00 1px solid}

H1 {
	font-family:'Varela Round', sans-serif;
	color: #024a68;
	font-size:22px; 
	margin-top:0px;
	font-weight: lighter
	
	
}

.titulo {
	font-family:'Varela Round', sans-serif;
	color: #024a68;
	font-size:1.3em; 
	margin-top:0px;
	font-weight: lighter
}

H2 {
	font-family:'Varela Round', sans-serif;
	font-size:1.3em; 
	color: #a61d00;
	margin-top:0px;	
	font-weight:normal;
}

.premios H2 {
	
	font-size:1em;

}

H3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.1em;
	color: #024a68;	
	margin-top:0px;
	font-weight:normal;
	
}

.tituloVermelho{
   font-family:'Varela Round', sans-serif;
   /*color:#113b63;*/
   color: #a61d00;
   margin-bottom:10px;
   margin-top:0px;
   font-weight: lighter;
   font-size:1.3em
}



.texto_azul {
	color: #113b63;
	font-family:'Varela Round', sans-serif;
}

h2 a{
   font-family:'Varela Round', sans-serif !important;
}



.quadro_branco { 
	background-color:#FFF; 
	padding:20px; 
	margin-top:10px; 
	border:1px; 
	border-color:#CCC; 
	border-style:solid;
	margin-bottom:40px;
}

a:link.linkAzul2 {color:#113b63; text-decoration:none; font-family:vagLight; } 
a:visited.linkAzul2 {color:#113b63; text-decoration:none; font-family:vagLight; }  
a:hover.linkAzul2 {color:#113b63; text-decoration:none; font-family:vagLight; }  
a:active.linkAzul2 {color:#113b63; text-decoration:none; font-family:vagLight; } 

h2{

}

.botao_azul {
   border: 1px solid #0d2e4d;
   background: #257dd1;
   background: -webkit-gradient(linear, left top, left bottom, from(#257dd1), to(#113b63));
   background: -webkit-linear-gradient(top, #257dd1, #113b63);
   background: -moz-linear-gradient(top, #257dd1, #113b63);
   background: -ms-linear-gradient(top, #257dd1, #113b63);
   background: -o-linear-gradient(top, #257dd1, #113b63);
   background-image: -ms-linear-gradient(top, #257dd1 0%, #113b63 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #ffffff;
   padding: 12px 20px;
   font-size: 100%;
   font-family:'Varela Round', sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
.botao_azul:hover {
   border: 1px solid #0d2e4d;
   text-shadow: #257dd1 0 1px 0;
   background: #257dd1;
   background: -webkit-gradient(linear, left top, left bottom, from(#257dd1), to(#113b63));
   background: -webkit-linear-gradient(top, #257dd1, #113b63);
   background: -moz-linear-gradient(top, #257dd1, #113b63);
   background: -ms-linear-gradient(top, #257dd1, #113b63);
   background: -o-linear-gradient(top, #257dd1, #113b63);
   background-image: -ms-linear-gradient(top, #257dd1 0%, #113b63 100%);
   color: #fff;
   }
   
  
.botao_azul:active {
   border: 1px solid #0d2e4d;
   text-shadow: #257dd1 0 1px 0;
   background: #257dd1;
   background: -webkit-gradient(linear, left top, left bottom, from(#257dd1), to(#113b63));
   background: -webkit-linear-gradient(top, #257dd1, #113b63);
   background: -moz-linear-gradient(top, #257dd1, #113b63);
   background: -ms-linear-gradient(top, #257dd1, #113b63);
   background: -o-linear-gradient(top, #257dd1, #113b63);
   background-image: -ms-linear-gradient(top, #257dd1 0%, #113b63 100%);
   color: #fff;
   }






.botao_verde {
   border: 1px solid #4e7501;
   background: #5c8b02;
   background: -webkit-gradient(linear, left top, left bottom, from(#afe431), to(#5c8b02));
   background: -webkit-linear-gradient(top, #afe431, #5c8b02);
   background: -moz-linear-gradient(top, #afe431, #5c8b02);
   background: -ms-linear-gradient(top, #afe431, #5c8b02);
   background: -o-linear-gradient(top, #afe431, #5c8b02);
   background-image: -ms-linear-gradient(top, #afe431 0%, #5c8b02 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #837a48 0 1px 0;
   color: #ffffff;
   padding: 15px 20px;
   font-size: 100%;
   font-family:'Varela Round', sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
.botao_verde:hover {
   border: 1px solid #4e7501;
   text-shadow: #5c8b02 0 1px 0;
   background: #5c8b02;
   background: -webkit-gradient(linear, left top, left bottom, from(#afe431), to(#a99d5c));
   background: -webkit-linear-gradient(top, #afe431, #5c8b02);
   background: -moz-linear-gradient(top, #afe431, #5c8b02);
   background: -ms-linear-gradient(top, #afe431, #5c8b02);
   background: -o-linear-gradient(top, #afe431, #5c8b02);
   background-image: -ms-linear-gradient(top, #afe431 0%, #5c8b02 100%);
   color: #fff;
   }
   
  
.botao_verde:active {
   text-shadow: #5c8b02 0 1px 0;
   border: 1px solid #4e7501;
   background: #afe431;
   background: -webkit-gradient(linear, left top, left bottom, from(#5c8b02), to(#5c8b02));
   background: -webkit-linear-gradient(top, #5c8b02, #afe431);
   background: -moz-linear-gradient(top, #5c8b02, #afe431);
   background: -ms-linear-gradient(top, #5c8b02, #afe431);
   background: -o-linear-gradient(top, #5c8b02, #afe431);
   background-image: -ms-linear-gradient(top, #5c8b02 0%, #afe431 100%);
   color: #fff;
}
 
input[type="button"] {
    /*font-family: 'vaglight';*/
    -webkit-appearance: none;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 10px;
    background-color: #024a68;
    border: 0;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    color: #FFF;
    padding: 5px 20px 5px 20px;
    min-height: 25px;
}
input[type="button"]:hover {
    background-color: #a61d00;
}

.linkMenu a:link {color:#024a68; text-decoration:none;} 
.linkMenu a:visited {color:#024a68; text-decoration:none;}  
.linkMenu a:hover {color:#a61d00; text-decoration:none;}  
.linkMenu a:active {color:#024a68; text-decoration:none;} 
 